.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #2a2d33;
}

h3 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.btn {
  background-color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  color: #393E46;
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 30px;
}

.btn:hover {
  background-color: #232931;
  color: #4ECCA3;
}